@import "./../vendors/simplebar";
@import "./../abstract/variables";
@import "./../abstract/mixins";
.order {
    @include imageProperty("./../../assets/img/orderBackground.png", #272733);

    &__container {
        padding-top: 121px;
        padding-bottom: 150px;

        @media (min-width: 576px) and (max-width: 767px) {
            padding-top: 93px;
            padding-bottom: 93px;
        }
        @media (max-width: 575px) {
            padding-top: 63px;
            padding-bottom: 63px;
        }
    }

    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 800;
        line-height: calc(43.2 / 36);
        color: $colorWhite;
        margin-bottom: 30px;

        @media (max-width: 1240px) {
            font-size: 32px;
            line-height: 0.7em;

            @media (max-width: 575px) {
                font-size: 20px;
            }
        }
    }

    &__description {
        color: #bbb;
        font-weight: 400;
        font-size: 18px;
        line-height: calc(22 / 18);
        text-align: center;
        margin-bottom: 78px;

        @media (max-width: 575px) {
            @include description;
            margin-bottom: 58px;
        }
    }

    &__list {
        display: flex;

        @media (max-width: 1240px) {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }

    &__schema {
        padding-left: 4px;
        position: relative;
        margin-bottom: 74px;

        @media (min-width: 576px) and (max-width: 767px) {
            margin-bottom: 44px;
        }

        @media (max-width: 575px) {
            margin-bottom: 30px;
            padding-left: 0;
        }
    }

    &__item {
        @include alignmentFlex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 10px 10px;
        width: 209px;

        @media (max-width: 1240px) {
            margin-bottom: 20px;
        }
        @media (max-width: 575px) {
            justify-content: center;
        }
    }

    &__item:not(:last-child) {
        margin-right: 30px;
        position: relative;

        @media (max-width: 575px) {
            margin-right: 0;
        }
    }

    &__item-picture {
        @include alignmentFlex;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: $colorLightBlue;
        border: 5px solid $colorDarkBlue;
        border-radius: 50px;
        margin-bottom: 22px;
    }

    &__item:not(:last-child):after {
        content: "";
        height: 6px;
        position: absolute;
        top: 27%;
        left: 73%;
        width: 139px;
        border: none;
        border-style: solid;
        -o-border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="22" height="4"><circle fill="LightGrey" cx="1" cy="0.5" r="0.5"></circle></svg>')
            0 0 100% repeat;
        border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="22" height="4"><circle fill="LightGrey" cx="1" cy="0.5" r="0.5"></circle></svg>')
            0 0 100% repeat;
        border-width: 0 0 5px;

        @media (max-width: 1240px) {
            display: none;
        }
    }

    &__item-description {
        color: $colorWhite;
        text-align: center;
        font-weight: 400;
        @include description;
    }

    //form
    &__form {
        display: flex;
        flex-direction: column;
    }

    &__form-list-first {
        display: flex;

        @media (max-width: 767px) {
            display: grid;
            justify-content: center;
            margin-bottom: 20px;
        }
    }

    &__form-list-second {
        display: flex;
        margin-bottom: 20px;

        @media (max-width: 767px) {
            display: grid;
            justify-content: center;
            margin-bottom: 40px;

            @media (max-width: 575px) {
                max-width: 206px;
                margin: 0 auto;
                width: 100%;
                margin-bottom: 40px;
            }
        }
    }

    &__form-item {
        position: relative;
        width: 370px;
        margin-bottom: 32px;
        margin-right: 30px;

        @media (max-width: 767px) {
            margin-right: 0;
        }
        @media (max-width: 575px) {
            max-width: 390px;
            width: 100%;
        }
    }

    &__form-item:nth-child(3),
    &__form-item:last-child {
        margin: 0;
    }

    &__form-item-label {
        display: flex;
        flex-direction: column-reverse;
    }

    //form-select
    &____form-select-button {
        margin-right: 6.6%;
        padding-top: 22px;
        padding-bottom: 22px;
        position: relative;
    }

    &__form-select-button {
        cursor: pointer;
        @include alignmentFlex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        transition: all 0.3s ease-in-out;
        outline: none;
    }

    &__form-select-button.is-active {
        color: $colorLightBlue;
        border-radius: 3px 3px 0 0;
    }

    &__form-select-button-icon {
        display: inline-block;
        position: absolute;
        top: 32%;
        left: 93%;
        z-index: 7;
        color: #272733;
        width: 7px;
        height: 7px;
        border-top: 1px solid;
        border-right: 1px solid;
        margin-left: -1px;
        margin-top: 2px;
        transform: rotateZ(135deg);
        transition: all 0.3s ease-in-out;
        transform-origin: center;
    }

    &__form-select-button.is-active ~ &__form-select-button-icon {
        transform: rotateZ(-45deg) translateX(-4px);
    }

    &__dropdown {
        position: absolute;
        z-index: 15;
        bottom: 0;
        left: 0;
        display: none;
        padding: 15px 20px 20px 10px;
        background-color: rgba(0, 0, 0, 0.9);
        transform: translateY(100%);
    }

    &__dropdown-wrap {
        // width: 340px;
        max-width: 400px;
        max-height: 180px;
    }

    &__dropdown.is-active {
        display: block;
        animation-name: dropdownOp;
        animation-duration: 0.3s;
        width: 100%;
    }

    &__dropdown.is-disabled {
        display: block;
        animation-name: dropdownCl;
        animation-duration: 0.3s;
    }

    &__dropdown .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
        background-color: $colorLightBlue;
    }

    &__dropdown-wrap .simplebar-content-wrapper {
        outline: none;
    }

    &__drop-item {
        // width: 200px;
        max-width: 400px;
    }

    &__drop-item:not(:last-child) {
        margin-bottom: 15px;
    }

    &__drop-item:last-child {
        padding-bottom: 5px;
    }

    &__drop-href {
        position: relative;
        display: block;
        font-size: 14px;
        line-height: calc(19 / 14);
        font-weight: 600;
        text-align: left;
        padding: 7px 12px 10px;
        box-shadow: 0 0 0 2px transparent;
        color: $colorWhite;
        background-color: transparent;
        background-origin: border-box;
        transition: box-swadow 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    &__drop-href-text {
        position: relative;
    }

    &__drop-href::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(194, 131, 243, 0.4);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &__dropdown .simplebar-track.simplebar-vertical {
        width: 7px;
        background-color: #3d4050;
    }

    //form-progress
    &__form-item-progress-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 400;
        line-height: calc(21.6 / 18);
        color: $colorWhite;
        @media (min-width: 576px) and (max-width: 767px) {
            @include description;
            font-weight: 400;
        }
        @media (max-width: 575px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__form-item-progress {
        width: 100%;
        cursor: pointer;
        border-radius: 24px;
    }
    &__form-item-progress-title {
        margin-right: 10px;
        @media (max-width: 575px) {
            margin-right: 0;
            margin-bottom: 15px;
            text-align: center;
        }
    }

    //form-file
    &__form-item-file {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    &__form-file-label {
        cursor: pointer;
        width: 100%;
        @include alignmentFlex;
        justify-content: center;
        border-radius: 3px;
        line-height: calc(18 / 15);
    }

    &__form-item &__form-file-label {
        background-color: $colorWhite;
        color: $colorBlack;
        font-size: 15px;
        font-weight: 600;
        padding-bottom: 10px;
        padding-top: 10px;
        border: 2px solid $colorLightBlue;
        transition: all 0.4s ease-in-out;
    }

    &__form-file-image {
        margin-right: 10px;
        @include alignmentFlex;
    }

    &__form-file-icon path {
        transition: fill 0.4s ease-in-out;
    }

    &__form-file-text {
        padding-top: 3px;
    }

    //form-button
    &__form-button {
        width: 370px;
        align-self: center;
        font-size: 15px;
        font-weight: 600;
        line-height: calc(18 / 15);
        @media (max-width: 575px) {
            max-width: 210px;
            width: 100%;
        }
    }
}

input[type="range"] {
    appearance: none;
    height: 6px;
    background-image: url("./../../../assets/icons/vk.svg");
    // background: linear-gradient(transparent 0 20px, #fff 20px 24px, transparent 24px 44px);
    background: rgba(255, 255, 255, 0.7);
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background-color: #ccc;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border: 3px solid $colorDarkBlue;
    border-radius: 15px;
    background: #42a9ed;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    box-shadow: 1px 1px 1px $colorBlack, 0px 0px 1px #0d0d0d;
    height: 24px;
    width: 24px;
    border: 3px solid $colorDarkBlue;
    border-radius: 15px;
    background: #42a9ed;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    box-shadow: 1px 1px 1px $colorBlack, 0px 0px 1px #0d0d0d;
    height: 24px;
    width: 24px;
    border: 3px solid $colorDarkBlue;
    border-radius: 15px;
    background: #42a9ed;
    cursor: pointer;
}

.button-select-text {
    margin-right: 5px;
}

.dropdown {
    left: 0;
}

.form-control {
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 3px;
    font-size: 18px;
    line-height: calc(22 / 18);
    font-weight: 400;
    color: #272733;
    padding: 13px 12px;

    @media (max-width: 1240px) {
        @include description;
    }
    @media (max-width: 575px) {
        font-size: 14px;
        line-height: calc(18 / 14);
    }
}

.form-control::placeholder {
    transition: all 0.3s ease-in-out;
    color: #272733;
}

.item-progress {
    width: 770px;
    padding-left: 2px;

    @media (max-width: 767px) {
        width: unset;
    }
}

@keyframes dropdownOp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes dropdownCl {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
